PORT=3000
APP_URL=http://localhost:5173
API_URL=http://localhost:3000

OPENAI_API_KEY=YOUR_OPENAI_API_KEY

GOOGLE_SERVICE_ACCOUNT_EMAIL=YOUR_GOOGLE_SERVICE_ACCOUNT_EMAIL
GOOGLE_PRIVATE_KEY="YOUR_GOOGLE_PRIVATE_KEY"
GOOGLE_DRIVE_FOLDER_ID=YOUR_GOOGLE_DRIVE_FOLDER_ID
